html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}

ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/* general styles */
/* general styles */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    line-height: 1.5;
    color: #4f4f4f;
    font-family: 'Roboto Mono', monospace;
}


a {
    text-decoration: none;
}

/* header section styles */

nav {
    padding: 2% 0;
}

nav a {
    display: inline-block;
    padding: 1% 0;
    width: 10%;
    text-align: center;
    color: #fff;
}

.orange {
    background-color: #ff764e;
    margin-left: 10%;
    border-radius: 35px;
}

.blue {
    background-color: #5ED3EB;
    margin: 0 24%;
    border-radius: 35px;
}

.yellow {
    background-color: #FFCD69;
    margin-right: 10%;
    border-radius: 35px;
}

/* top section styles */

section {
    width: 100%;
    padding: 4% 0;
}

h1 {
    font-size: 9rem;
    font-family: 'Chelsea Market', cursive;
    position: relative;
    top: 95px;
}

h2 {
    font-size: 2.6rem;
    margin-bottom: 30px;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    top: 120px;
}


.top {
    text-align: center;
    position: relative;
}

.left, .right {
    display: inline-block;
}

.left {
    position: relative;
    width: 25%;
    right: 100px;
}

.left img {
    border-radius: 50%;
}

.right {
    width: 60%;
    position: relative;
    bottom: 150px;
}

.right p {
    width: 46%;
    margin-left: 25%;
    font-size: 2.5rem;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    top: 150px;
}

/* middle section styles */

.middle {
    background-color: #DDB9A3;
    padding: 4%;
}

.middle p {
    font-size: 2.0rem;
}

.one {
    position: relative;
    bottom: 50px;
}

.two {
    width: 75%;
}

/* bottom section styles */

.bottom {
    padding: 1% 40%;
}

.bottom span {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.footerimg {
    height: 55vh;
    background-image: url(/assets/footer_img.jpg);
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #F9E7DC;
}